.container{
  position: relative;
  z-index: 1;
  margin-top: -100px;
  padding-top: 100px;
}

/* トップページ */
.back-img {
  height: 700px;
  position: relative;
}

.back-img h1 {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  letter-spacing: 5px;
  color: skyblue;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}

.back-img nav {
  font-size: 30px;
  float: right;
  margin-top: 30px;
  margin-right: 30px;

}

.back-img nav ul{
  list-style: none;
  color: skyblue;
}

.back-img nav ul li{
  float: left;
  text-align: center;
  color: skyblue;
}

.back-img nav ul li a
{
  letter-spacing: 4px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: skyblue;
}

.start_connect,.new_connect {
  margin-right: 30px;
  border-bottom: 2px solid transparent;
}

.back-img p {
  font-size: 20px;
  letter-spacing: 5px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

/* 新規登録 */
#outer {
  margin-top: 30px;
}

#new{
  margin: auto;
  text-align: center;
  width: 600px;

  justify-content: center;
  align-items: center;
}

 .smallfont {
   letter-spacing: 4px;
 }

/* 新規登録完了 */
#insert {
  position: relative;
}

.insert_info {
  margin: 300px auto;
  text-align: center;
  width: 700px;
}

/* ログイン */


.loguin_font {
  font-family: 'Raleway Dots', cursive;
  letter-spacing: 10px;
  text-align: center;
}

.login  {
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

.sinki {
  margin-top: 40px;
  text-align: center;
}

.sinki a {
  display: block;
  
}

.sinki a:hover {
  opacity: 0.7;
}

.return {
  margin-top: 40px;
}

.return a{
  display: block;
  transition: 0.5s;
}

.return a:hover{
  opacity: 0.5;
}

/* ログイン完了 */
.parent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.welcome {
  position: absolute;
  top: 30%;
  background: white;
  height: 150px;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
}

.welcome h1,p{
  text-align: center;
  font-family:serif;
}

.in_list {
  margin: auto;
  text-align: center;
}

.in_list button{
 width: 300px;
}

/* 初回ログイン */
.option {
  background: skyblue;
  display: table;
  width: 100%;
  height: 300px
}

.option a{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* イントロ自己紹介 */



/* プロフィール */
#gallery {
    margin: auto;
    padding-right: 100px;
    padding-top: 40px;
    width: 600px;
}

 .main img {
    border: 4px solid #fff;
    box-shadow: 0px 0px 14px #000;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

 .main  {
    text-align: center;
}

#gallery .main p {
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

#gallery .thumb img {
    border-radius: 400px;
    box-shadow: 0px 0px 10px #000;
    height: 60px;
    margin: 10px;
    width: 60px;
    text-align: center;
}

.bord {
  border: 4px solid #fff;
}

#option_image{
  vertical-align: middle;
  text-align: center;
  margin: 15px 15px 15px 15px;
}


.com_like_card {
  text-align: center;
}

.scroll_card {
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 30px;
}

.scroll_list {
  display: inline-block;
  width: 40%;
  height: 100px;
  padding-right: 10px;
}

.scroll_list img{
  margin: auto;
  width: 70%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  
}

/* 画像変更 */

#galleries {
  padding-top: 40px;
  width: 500px;
  margin: auto;
}

#galleries h1{
  text-align: center;
  padding: 20px;
}

.upload img{
  border: 4px solid #fff;
  box-shadow: 0px 0px 14px #000;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 30px;
}

#image {
  text-align: center;
}

.input_images {
  color: skyblue;
  border: 2px solid;
  border-radius: 3em;
  padding: 5px 5px;
  display: inline-block;
  transition: 0.7s;
}

.input_images:hover {
  opacity: 0.5;
  cursor: pointer;
}

.input_file {
  display: none;
}



/* チャットルーム */
#chat_room a{
  width: 100%;
  display: block;
  margin: 20px;
  color: skyblue;
}

#pos{
 width: 100%;
}

#pos ul li{
  display: inline-block;
  text-align: left;
  width: 100%;
}

#pos ul li a img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin-right: 10px;
}

#pos ul li a:hover {
  opacity: 0.75;
}

#return {
  font-size: 40px;
}

.message {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  z-index: 1;
}

.message li {
  display: flex;
  z-index: 1;
}

.message li + li {
  margin-top: 32px;
}

li.right-side {
  flex-direction: row-reverse;
}

.pic {
  width: 80px;
  text-align: center;
}

.pic img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.text {
  display: block;
  margin: 1px;
  border-radius: 8px;
  padding: 16px 24px;
  max-width: 60%;
  line-height: 1.8;
  position: relative;
  word-wrap: break-word;
  white-space: normal;
}

.text::before {
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  position: absolute;
}

.left-side .text::before{ 
  top: 12px;
  left: -16px;
  border-right-color: #fff;
}

.right-side .text::before{ 
  top: 12px;
  right: -16px;
  border-left-color: #fff;
}

/* 一覧 */
.looking_user {
  position: relative;
}

.look_text {
  margin: auto;
  text-align: center;
  padding:30px;
  font-family: 'Source Code Pro', monospace;
}

.img {
  height: 300px;
  width: 300px;
  border-radius: 30px;
  object-fit: cover;
  transition: 1.0s;
}

.img:hover {
  transform:scale(1.1,1.1);
  opacity: 0.7;
}

.li {
  margin-left: 15px;
  border-radius: 20px;
  float: left;
  margin-bottom: 400px;
}

.list {
  margin-bottom: 30px;
  border-radius: 20px;
}

/* ナビ */
header {
  width: 100%;
  height: 70px;
}

#global_navi {
  clear: both;
  width: 100%;
  background-color: skyblue;
  margin: auto;
  text-align: center;
  position: fixed;
  z-index: 20;
}

#global_navi ul {
  list-style: none;
  margin: auto;
  text-align: center;
}

#global_navi ul li {
  width: 162px;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

#global_navi ul li a {
  display: block;
  padding: 16px;
  background-color: skyblue;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#global_navi ul li a:hover {
  opacity: 0.7;
}

#global_navi ul li.current a {
  background-color: #99FFFF;
  border-radius: 10px;
}

#global_navi ul li.current a:hover {
  background-color: rgb(82, 194, 238);
}

#ot {
  display: none;
}

#ot #other a{
  text-align: left;
}

.main img {
  height: 550px;
  object-fit: cover;
}

/* プロフィール */
.thumb  {
  margin-top: 30px;
}

.detail_box  {
  margin-top: 30px;
  border-top: solid 0.7px;
  padding-top: 20px;
}

.detail_box table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.detail_box th,
.detail_box td {
  padding: 30px 0 30px 0;
}
tbody tr td {
  color: skyblue;
}

/* 変更 */

#in tbody{
  background: skyblue;
  border: 1px solid #ddd;
  border-top: 0;
}

#in th,
#in td {
  padding: 10px;
  border-top: 1px solid #ddd;
}

#in th {
  width: 13em;
  float: left;
  clear: both;
  font-weight: bold;
}

#in td {
  background: #fff;
  border-left: 1px solid #ddd;
  margin-left: 13em;
}

#in #onamae {
  width: 15em;
  padding: 5px;
}

.change {
  position: relative;
    display: block;
    margin: auto;
    width: 80%;
    padding: 0 20px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: skyblue;
    color: #fff;
    border-radius: 23px;
    transition: 1.0s;
}

.change:hover  {
  opacity: 0.7;
  color: #fff;

}

.check {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  padding: 0 20px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  background-color: skyblue;
  color: #fff;
  border-radius: 23px;
}

.check:hover  {
  opacity: 0.7;
  color: #fff;
}

.submit {
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
  border-radius: 23px;
  margin-bottom: 40px;
}

.input-file {
  cursor: pointer;
}

/* いいね機能 */
.good_navi {
  width: 980px;
  overflow: hidden;
}

.content {
  text-align: center;
  margin: auto;
}

.good_navi a {
  height: 40px;
  display: block;
  float: left;
  text-align: center;
  width: 489px;
  margin: 10px 1px 30px 0px;
  background-color: #eeeeee;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.now a{
  background-color: #99ffff;

}

.good_navi a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* 好みカード一覧表 */

.horizontal-list {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}

.item {
  /* 横スクロール用 */
  display: inline-block;
  padding: 0px 10px;
  vertical-align: top;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.item img{
  border-radius: 10px;
  height: 60px;
  width: 60px;
  transition: 0.7s;
}

.item img:hover{
  opacity: 0.5;
}

#hobby_card {
  white-space: normal;
  width: 100px;
  word-break: break-word;
}

.like{
  margin: 30px;
}
.bad {
  margin: 30px;
}

.make {
  background: #59dada;
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  width: 60%;
  border: 1px solid;
  border-radius: 20px;
  padding: 15px;
}

.make:hover {
  /* text-decoration: none; */
  opacity: 0.7;
}



/* カード作成ページ */

#make_card {
  margin: auto;
  width: 600px;
}

#make_form {
  margin-top: 200px;
}

.request {
  
  margin-top: 30px;
}

#cate  {
  background: skyblue;
  color: #fff;
  border-radius: 2em;
}

#type {
  background: skyblue;
  color: #fff;
  border-radius: 2em;
}

.filelabel {
  color: skyblue;
  border: 2px solid;
  border-radius: 3em;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.7s;
}

.filelabel:hover {
  opacity: 0.5;
  cursor: pointer;
}

#filesend {
  display: none;
}

.cardselect {
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Caveat', cursive;
}

/* アニメーション */

#text_top {
  font-size: 16px;
  width: 100%;
    border: none;
    outline: none;
    padding-bottom: 8px;
    box-sizing: border-box
}

.text_underline {
  position: relative;
  border-top: 1px solid #c2c2c2;
}

.text_underline::before,
.text_underline::after
 {
  position: absolute;
  bottom: 0px;
  width: 0px;
  height: 1px;
  content:'';
  background-color: skyblue;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.text_underline::before {
  left: 50%;
}

.text_underline::after {
  right: 50%;
}

#text_top:focus + .text_underline::before,
#text_top:focus + .text_underline::after{
  width: 50%;
}

/* like検索画像一覧 */
.car {
  width: 100%;
}

.search {
  list-style: none;
  text-align: center;
}

.search-list {
  margin: 10px;
  width: 30%;
  display: inline-block;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.search-img {
  width: 90%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.7s;
}

/* 検索 */

#look {
  text-align: center;
}

#input {
  display: table-cell;
  vertical-align: middle;
  margin : 20px;
  border: 1px normal;
  border-radius: 5px;
  width: 50%;
}

/* グループ詳細一覧 */
.main_range {
  text-align: center;
}

#forms {
  border-bottom: 1px solid;
  margin-bottom: 40px;
}

.main_img img{
  margin-top: 30px;
  width: 30%;
  border-radius: 20px;
}

.main_text p{
  margin: 30px;
  padding-bottom: 30px;
}

.love {
  border-radius: 10px;
  margin-bottom: 30px;
  width: 50%;
}

.back {
  background: #59dada;
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  width: 60%;
  border: 1px solid;
  border-radius: 20px;
  padding: 15px;
}


/* メッセージメニュー */

.con {
  height: 850px;
  padding: 32px;
  position: relative;
  overflow: auto;
}

.message {
  
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  z-index: 1;
}

.message li {
  display: flex;
  z-index: 1;
}

.message li + li {
  margin-top: 32px;
}


li.right-side {
  flex-direction: row-reverse;
}

.pic {
  width: 80px;
  text-align: center;
}

.pic img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.text {
  background: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  max-width: 60%;
  line-height: 1.8;
  position: relative;
  word-wrap: break-word;
  white-space: normal;
}

.text::before {
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  position: absolute;
}

.left-side .text::before{ 
  top: 12px;
  left: -16px;
  border-right-color: #fff;
}

.right-side .text::before{ 
  top: 12px;
  right: -16px;
  border-left-color: #fff;
}

/* 送信欄 */
#form {
  position: relative;
  margin: auto;
  height: 48px;
  padding: 4px;  
  
}

#sent_message {
  position: fixed;
  margin: auto;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 50%;
  line-height: 16px;
  height: 48px;
  padding: 14px 6px 0px 6px;
  border: 1px solid #ccc;
  text-align: left;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5) inset;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 10;
}

#sent_btn {
  position: fixed;
  bottom: 0px;
  right: 400px;
  width: 75px;
  height: 60px;
  font-size: 16px;
  margin: auto;
  line-height: 3em;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
  
}

#sent_btn:hover {
  background: #13178E;
  cursor: pointer;
}

body a:hover {
  text-decoration: none;
}




