
/* ログイン */
.top_page {
  margin-top: 50px;
}

h4 {
  text-align: center;
  
}

.loguin  {
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center; 
}

.sinki {
  margin-top: 40px;
  text-align: center;
}
.sinki a {
  display: block;
}
.sinki a:hover {
  opacity: 0.7;
}

/* ログイン完了 */
.parent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.welcome {
  position: absolute;
  top: 30%;
  background: white;
  height: 150px;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
}

.welcome h1,p{
  text-align: center;
  font-family:serif;
}

.in_list {
  margin: auto;
  text-align: center;
}

.in_list button{
 width: 300px;
}

/* 初回ログイン */
.option {
  background: skyblue;
  display: table;
  width: 100%;
  height: 300px
}

.option a{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* イントロ自己紹介 */

#entry {
  margin-top: 30px;
}

#entry dl dt,
#entry dl dd  {
padding: 10px;
}

#entry #simei{
  width:15em;
  padding: 3px;
}

#entry dl dt  {
  width: 13em;
  float: left;
  clear: both;
}

#entry  #my_like{
  width: 36em;
  height: 15em;
}

#submit_btn {
  display: inline;
  text-align: center;
  margin: auto;
}

/* プロフィール */
#galleries {
  padding-top: 40px;
  width: 500px;
}

#galleries .main img {
  border: 4px solid #fff;
  box-shadow: 0px 0px 14px #000;
  width: 100%;
}

#gallery {
    margin: auto;
    padding-right: 100px;
    padding-top: 40px;
    width: 600px;
}

#gallery .main img {
    border: 4px solid #fff;
    box-shadow: 0px 0px 14px #000;
    width: 100%;
    border-radius: 10px;
}

#gallery .main p {
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

#gallery .thumb img {
    border: 4px solid #fff;
    border-radius: 400px;
    box-shadow: 0px 0px 10px #000;
    height: 60px;
    margin: 10px;
    width: 60px;
}

.com_like_card {
  text-align: center;
}

.scroll_card {
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 30px;
}

.scroll_list {
  display: inline-block;
  width: 40%;
  height: 100px;
  padding-right: 10px;
}

.scroll_list img{
  margin: auto;
  width: 70%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  
}

/* チャットルーム */
#chat_room a{
  width: 100%;
}

#pos{
 width: 100%;
}

#pos ul li{
  display: inline-block;
  text-align: left;
  width: 100%;
  border-bottom: solid 0.5px #DCDCDC;
  
}

#pos ul li a {
  display: block;
  margin: 1px;
}

#pos ul li a img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin-right: 10px;
}

#pos ul li a:hover {
  opacity: 0.75;
}

#return {
  font-size: 40px;
}

.message {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  z-index: 1;
}

.message li {
  display: flex;
  z-index: 1;
}

.message li + li {
  margin-top: 32px;
}

li.right-side {
  flex-direction: row-reverse;
}

.pic {
  width: 80px;
  text-align: center;
}

.pic img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.text {
  background: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  max-width: 60%;
  line-height: 1.8;
  position: relative;
  word-wrap: break-word;
  white-space: normal;
}

.text::before {
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  position: absolute;
}

.left-side .text::before{ 
  top: 12px;
  left: -16px;
  border-right-color: #fff;
}

.right-side .text::before{ 
  top: 12px;
  right: -16px;
  border-left-color: #fff;
}

/* 一覧 */
.img {
  height: 300px;
  object-fit: cover;
}

.li {
  margin-left: 15px;
}

.list {
  margin-bottom: 30px;
}

#global_navi a{
  color: #b7a077;
}

a:hover {
  color: #988564;
  font-weight: bold;
  text-decoration: none;
}

/* ナビ */
#global_navi {
  clear: both;
  overflow: hidden;
  width: 980px;
}

#global_navi ul {
  list-style: none;
  margin-bottom: 0px;
  padding: 0px;
}

#global_navi ul li {
  width: 162px;
  float: left;
  margin-right: 1px;
  margin-bottom: 30px;
  text-align: center;
}

#global_navi ul li a {
  display: block;
  padding: 16px;
  background-color: skyblue;
  color: #fff;
  text-decoration: none;
}

#global_navi ul li.current a {
  background-color: #44FFFF;
}

#global_navi ul li.current a:hover {
  background-color: rgb(82, 194, 238);
}

#ot {
  display: none;
  }

#ot #other {
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.main img {
  height: 550px;
  object-fit: cover;
}

/* プロフィール */
.thumb  {
  margin-top: 30px;
}
.detail_box  {
  margin-top: 30px;
  border-top: solid 0.7px;
  padding-top: 20px;
}

.detail_box table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.detail_box th,
.detail_box td {
  padding: 30px 0 30px 0;
}
tbody tr td {
  color: #ff3399;
}

/* 変更 */
#in tbody{
  background: #f1ede4;
  border: 1px solid #ddd;
  border-top: 0;
}

#in th,
#in td {
  padding: 10px;
  border-top: 1px solid #ddd;
}

#in th {
  width: 13em;
  float: left;
  clear: both;
  font-weight: bold;
}

#in td {
  background: #fff;
  border-left: 1px solid #ddd;
  margin-left: 13em;
}

#in #onamae {
  width: 15em;
  padding: 5px;
}

.change {
  position: relative;
    display: block;
    margin: auto;
    width: 80%;
    padding: 0 20px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #fe6970;
    color: #fff;
    border-radius: 23px;
}

.change:hover  {
  opacity: 0.7;
  color: #fff;
}

.check {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  padding: 0 20px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  background-color: #fe6970;
  color: #fff;
  border-radius: 23px;
}

.check:hover  {
  opacity: 0.7;
  color: #fff;
}

.submit {
  margin-bottom: 30px;
}

/* いいね機能 */
.good_navi {
  width: 980px;
  overflow: hidden;
}

.content {
  text-align: center;
  margin: auto;
}

.good_navi a {
  height: 40px;
  display: block;
  float: left;
  text-align: center;
  width: 489px;
  margin: 10px 1px 30px 0px;
  background-color: #eeeeee;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.now a{
  background-color: #99ffff;
}

.good_navi a:hover {
  opacity: 0.7;
}

/* 好みカード一覧表 */

.horizontal-list {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}

.item {
  /* 横スクロール用 */
  display: inline-block;
  padding: 0px 10px;
  vertical-align: top;
}

.item img{
  border-radius: 10px;
  height: 60px;
  width: 60px;
}

#hobby_card {
  white-space: normal;
  width: 100px;
  word-break: break-word;
}

.like{
  margin: 30px;
}
.bad {
  margin: 30px;
}

.make {
  background: #59dada;
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  width: 60%;
  border: 1px solid;
  border-radius: 20px;
  padding: 15px;
}

.make a:hover{
  opacity: 0.7;
  color: white;
}


/* カード作成ページ */



/* like検索画像一覧 */

.car {
  width: 100%;
}

.search {
  list-style: none;
  text-align: center;
}

.search-list {
  margin: 10px;
  width: 30%;
  display: inline-block;
  
}

.search-img {
  width: 90%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* 検索 */

#look {
  text-align: center;
  
}

#input {
  display: table-cell;
  vertical-align: middle;
  margin : 20px;
  border: 1px normal;
  border-radius: 5px;
  width: 50%;
}

/* グループ詳細一覧 */
.main_range {
  text-align: center;
}

#forms {
  border-bottom: 1px solid;
  margin-bottom: 40px;
}

.main_img img{
  margin-top: 30px;
  width: 30%;
  border-radius: 20px;
}

.main_text p{
  margin: 30px;
  padding-bottom: 30px;
}

.love {
  border-radius: 10px;
  margin-bottom: 30px;
  width: 50%;
}

.back {
  background: #59dada;
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  width: 60%;
  border: 1px solid;
  border-radius: 20px;
  padding: 15px;
}


/* メッセージメニュー */

.con {
  height: 850px;
  padding: 32px;
  position: relative;
  overflow: auto;
}

.message {
  
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  z-index: 1;
}

.message li {
  display: flex;
  z-index: 1;
}

.message li + li {
  margin-top: 32px;
}


li.right-side {
  flex-direction: row-reverse;
}

.pic {
  width: 80px;
  text-align: center;
}

.pic img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.text {
  background: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  max-width: 60%;
  line-height: 1.8;
  position: relative;
  word-wrap: break-word;
  white-space: normal;
}

.text::before {
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  position: absolute;
}

.left-side .text::before{ 
  top: 12px;
  left: -16px;
  border-right-color: #fff;
}

.right-side .text::before{ 
  top: 12px;
  right: -16px;
  border-left-color: #fff;
}

/* 送信欄 */
#form {
  position: relative;
  margin: auto;
  height: 48px;
  padding: 4px;  
  
}

#sent_message {
  position: fixed;
  margin: auto;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 50%;
  line-height: 16px;
  height: 48px;
  padding: 14px 6px 0px 6px;
  border: 1px solid #ccc;
  text-align: left;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5) inset;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 10;
}

#sent_btn {
  position: fixed;
  bottom: 0px;
  right: 400px;
  width: 75px;
  height: 60px;
  font-size: 16px;
  margin: auto;
  line-height: 3em;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
  
}

#sent_btn:hover {
  background: #13178E;
  cursor: pointer;
}

