body {
   margin: 0 auto;
   background: skyblue;
}
#whole {
    background: #fff;
}

/* トップページ */
.back-img {
  height: 850px;
  position: relative;
}

.back-img h1 {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  letter-spacing: 5px;
  color: skyblue;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}

.back-img nav {
  font-size: 30px;
  float: right;
  margin-top: 30px;
  margin-right: 30px;

}

.back-img nav ul{
  list-style: none;
  color: skyblue;
}

.back-img nav ul li{
  float: left;
  text-align: center;
  color: skyblue;
  letter-spacing: 3px;
  margin: 10px;
}

.back-img nav ul li a
{
  font-family: 'Balsamiq Sans', cursive;
  letter-spacing: 5px;
  font-size: 30px;
  text-align: center;
  letter-spacing: 4px;
  transition: all 0.5s;
  padding-bottom: 10px;
  color: skyblue;
  text-decoration: none;
  margin-right: 30px;
}

.back-img nav ul li a:hover
{
  border-bottom: 2px solid;
}

.back-img p {
  font-family: 'Noto Serif JP', serif;
  font-size: 50px;
  letter-spacing: 10px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

#main_messages {
  margin-top: 100px;
  text-align: center;
  height: 550px;
}

#main_text {
  opacity: 0;
  transform:  translate(0,100px);
  transition: all 1s;
}

#main_text.active{
  opacity: 1;
  transform:  translate(0,0);
}

.main_title {
  margin: 100px;
  letter-spacing: 4px;
}

#main_messages p{
  margin: 10px;
  letter-spacing: 4px;
}

.my_name {
  font-family: 'Pacifico', cursive;
  color: skyblue;
  margin: 50px;
}

#function {
  margin: 0 auto;
  text-align: center;
  background-color: #eeeeee;
  height: 700px;
}

#function_detail{
  margin: 40px;
  opacity: 0;
  transform:  translate(0,100px);
  transition: all 1s;
}

#function_detail.in{
  opacity: 1;
  transform:  translate(0,0);
}

#function_detail div{
  margin: 40px;
}

#function_detail div i{
  margin-bottom: 5px;
}

footer {
  height: 90px;
  background-color: #888888;
}

#footer_navi {
  text-align: center;
  padding: 10px 0;
}

#footer_navi ul {
  margin-top: 20px;
}

#footer_navi ul li{
  display: inline;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  text-align: center;
}


#footer_navi ul li a{
  letter-spacing: 4px;
  color: white;
  font-family: 'Raleway Dots', cursive;
}

#footer_navi ul li a:hover{
  text-decoration: none;
  opacity: 0.7;
}

/* 一覧 */
.img {
    height: 300px;
    object-fit: cover;
  }
  
.li {
    margin-left: 15px;
  }
  
.list {
    margin-bottom: 30px;
  }
  
.main img {
    height: 550px;
    object-fit: cover;
  }


/* お問い合わせ機能 */

.form-control {
    color: white;
    margin: auto;
}



/* トーク履歴 */

#pos ul li{
    border-bottom: solid 0.5px #DCDCDC;
}

#pos ul li a {
    display: block;
    margin: 1px;
}

#pos ul li a img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-right: 10px;
}

#pos ul li a:hover {
    opacity: 0.75;
}

#return {
    font-size: 40px;
}

.circle {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -25px;
    margin-top:  -25px;
    border-radius: 50%;
}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks {
    margin-top: 300px;
    width: 50%;
    text-align: center;
    background-color: aquamarine;
}

/* お問い合わせ */

#inquire {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  text-align: center;
  width: 70%;
}

.contain {
  max-width:600px;
  margin:0 auto;
  text-align:center;
  margin-top: 50px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color:skyblue;
}

.container {
    max-width:600px;
    margin:0 auto;
    text-align:center;
    margin-top: 50px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background-color:skyblue;
  }
  .head {
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
    background-color:#2ABCA7;
    color:#FAFAFA;
  }
  h2 {
    text-align:center;
    padding:18px 0 18px 0;
    font-size: 1.4em;
  }
  input {
    margin-bottom:10px;
  }
  textarea {
    height:100px;
    margin-bottom:10px;
  }
  
  input, textarea {
    font-size: 1em;
    padding: 15px 10px 10px;
    font-family: 'Source Sans Pro',arial,sans-serif;
    border: 1px solid #cecece;
    background: #d7d7d7;
    color:#FAFAFA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
  }
  
  #submit {
    margin-top:15px;
    margin-bottom:25px;
    background-color:#2ABCA7;
    padding: 12px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2ABCA7;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width:30%;
    color:#fff;
  }
  
  #submit:hover {
    background:#19a08c;
  }
  